<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jac.practicasemana3">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Acerca">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Ejercicios.NumeroRamdom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ejercicios.VistaOpciones" />
        </activity>
        <activity android:name=".Ejercicios.Mensaje">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ejercicios.Clave" />
        </activity>
        <activity android:name=".Ejercicios.Clave">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ejercicios.VistaOpciones" />
        </activity>
        <activity android:name=".Ejercicios.VistaOpciones">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".POO.AgendaPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.SharedPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.Web">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".POO.IntParametros" />
        </activity>
        <activity android:name=".POO.IntParametros">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.AboutPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".POO.IntentPoo" />
        </activity>
        <activity android:name=".POO.IntentPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.EditPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.ToastPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.ImagePoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.ListViewPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.SpinnerPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.CheckboxPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.RadioPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".POO.ButtonPoo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PooActivity" />
        </activity>
        <activity android:name=".Agenda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".SharedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".SitioWeb">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntentParametros" />
        </activity>
        <activity android:name=".IntentParametros">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".AcercaDe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntentActivity" />
        </activity>
        <activity android:name=".IntentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".EditTextActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".ToastActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".ImageButtonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".ListViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".SpinnerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".CheckBoxActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".RadioGrup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".ButtonTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuiaAtivity" />
        </activity>
        <activity android:name=".GuiaAtivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".PooActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>